.cart-page {
  width: 80%;
  margin: auto;
}

.cart-list {
  margin-top: 20px;
}

.empty-text {
  text-align: center;
  margin-top: 40px;
  opacity: .7;
  font-size: 18px;
}

.cart-summary {
  margin-top: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
